{{yield}}
<div class="content-holder">
	<div class="recipe-title-holder">
		<h2 class="recipe-title">{{model.title}}</h2>
		<span class="lead-text">{{model.dateCreated}}</span>
	</div>

	<div class="recipe-banner">
		{{dot-nav photos=model.photos}}
		</div>
	<p class="recipe-text">{{model.blogPost}}</p>

	<div class="recipe-directions">
		<hr>
		<div class="text-center">
			<span>Prep Time: <span class="recipe-text"> {{model.prepTime}} </span></span>
			<span>Cook Time:  <span class="recipe-text"> {{model.cookTime}} </span></span>
			<span>Serving(s):  <span class="recipe-text"> {{model.recipeYield}} </span></span>
		</div>
		<hr>
		<div class="card-title recipe-directions-title">Directions </div>   

		<div  class="steps">
			<ol>
	 			{{#each model.steps as |step index| }}
					<li><span>{{add index one}}.</span><p>{{step}}</p></li>
	 			{{/each}}
			</ol>
		</div>


	</div>
	<div class="cards-item recipe-ingredients">
		<div class="card">
			<div class="card-content">
				<div class="card-title">Ingredients </div>
				<ul>
					{{#each model.ingredients as |ingredient| }}
						<li>{{ingredient.objectOne}} <span class="recipe-text">{{ingredient.objectTwo}}</span></li>
 					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>